{% extends "base.html" %}

{% block content %}
{% if choices %}
{% regroup choices by question__poll__name as poll_list %}
    <ul>
        {% for poll in poll_list %}
            <li>{{ poll.grouper }}
                <ul>
                    {% regroup poll.list by question__question_text as question_list %}
                    {% for questions in question_list %}
                        <li><a href="{% url 'polls:detail' questions.list.0.question__id %}">{{ questions.grouper}}</a>
                        <ul>
                            {% for choice in questions.list %}
                                <li>{{ choice.choice_text }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
{% endblock %}
